/*--------------------------------*\
  #Varaiables 
\*--------------------------------*/
:root {
  --headline-sm: 2.6rem;
  --title-lg: 2.2rem;
  --label-lg: 1.4rem;
  --label-md: 1.2rem;
  --radius-circle: 50%;
  --radius-pill: 100px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
span,
img,
input,
button {
  display: block;
}

input {
  width: 100%;
}

img {
  height: auto;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 250px;
  overflow: auto;
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(225deg, 7%, 89%);
  background-image: url(../images/surahMuhammad-15.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}
body.modalActive {
  overflow: hidden;
}

/*--------------------------------*\
  #Reused Style 
\*--------------------------------*/
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" -25, "opsz" 24;
  width: 1em;
  height: 1em;
  overflow: hidden;
  user-select: none;
}

.title-lg {
  font-size: var(--title-lg);
  font-weight: 500;
}

.wrapper {
  display: flex;
  align-items: center;
}

.btn-icon {
  color: hsl(208deg, 12%, 78%);
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
}
.btn-icon:hover {
  background-color: hsla(200deg, 100%, 73%, 0.08);
}
.btn-icon:is(:focus, :focus-visible) {
  background-color: hsla(200deg, 100%, 73%, 0.12);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline-sm {
  font-size: var(--headline-sm);
  font-weight: 500;
}

.label-lg {
  font-size: var(--label-lg);
  letter-spacing: 0.1px;
  font-weight: 500;
}

.label-md {
  font-size: var(--label-md);
  letter-spacing: 0.5px;
  font-weight: 500;
}

/*--------------------------------*\
  #Top Bar
\*--------------------------------*/
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  justify-content: space-between;
  padding-inline: 16px;
  background-color: hsla(204deg, 9%, 11%, 0.95);
  box-shadow: 0 1px 4px 1px hsla(0deg, 0%, 0%, 0.2);
  z-index: 2;
}

.logo {
  gap: 12px;
}

/*--------------------------------*\
  #Player
\*--------------------------------*/
.player {
  padding: 24px;
  background-image: linear-gradient(180deg, hsla(204deg, 9%, 11%, 0.9) 60%, transparent 120%);
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding-block-start: 88px;
  overflow: hidden;
  backdrop-filter: blur(30px);
}
.player .container {
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-rows: 1fr max-content;
}

.music-banner {
  aspect-ratio: 1/1;
  background-color: hsl(203deg, 9%, 28%);
  max-width: 400px;
  margin-inline: auto;
  overflow: hidden;
  border-radius: 24px;
}

.label-wrapper {
  justify-content: center;
  margin-block-end: 36px;
}

.artist {
  position: relative;
  opacity: 0.8;
}
.artist::after {
  content: "|";
  display: inline-block;
  margin-inline: 8px;
}

.seek-control {
  margin-block-end: 20px;
}

.range-wrapper {
  position: relative;
}

.range {
  appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.range::-webkit-slider-runnable-track {
  appearance: none;
  width: 100%;
  height: 6px;
  background-color: hsl(203deg, 9%, 28%);
  border-radius: var(--radius-pill);
}
.range::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: var(--radius-circle);
  background-color: hsl(200deg, 100%, 73%);
  margin-block-start: -5px;
}

.range-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  background-color: hsl(200deg, 100%, 73%);
  border-radius: var(--radius-pill);
  pointer-events: none;
}

.duration-label {
  justify-content: space-between;
  margin-block-start: 12px;
}

.player-control {
  justify-content: space-evenly;
}
.player-control .toggle.active {
  color: hsl(200deg, 100%, 73%);
}
.player-control .play {
  background-color: hsl(203deg, 9%, 28%);
  color: hsl(200deg, 100%, 73%);
}
.player-control .play.active {
  background-color: hsl(200deg, 100%, 73%);
  color: hsl(196deg, 100%, 14%);
}
.player-control .btn-icon.active .active-icon,
.player-control .btn-icon .default-icon {
  display: block;
}
.player-control .btn-icon.active .default-icon,
.player-control .btn-icon .active-icon {
  display: none;
}

/*--------------------------------*\
  #PLAYLIST 
\*--------------------------------*/
.playlist {
  position: fixed;
  top: 0;
  right: -180px;
  width: 180px;
  height: 100vh;
  background-color: hsl(204deg, 9%, 11%);
  padding: 28px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 0 1px 4px 1px hsla(0deg, 0%, 0%, 0.5);
  transition: 300ms cubic-bezier(0.2, 0, 0, 1);
  z-index: 4;
  overflow-y: auto;
  visibility: hidden;
}
.playlist.active {
  visibility: visible;
  transform: translateX(-180px);
}

.music-list {
  display: grid;
  gap: 20px;
}

.music-item {
  background-color: hsl(203deg, 9%, 28%);
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 1px 4px 1px hsla(0deg, 0%, 0%, 0.5);
}
.music-item .item-icon {
  position: absolute;
  inset: 0;
  display: grid;
  background-color: hsla(204deg, 9%, 11%, 0.5);
  place-items: center;
  opacity: 0;
}
.music-item .item-icon .material-symbols-rounded {
  font-size: 3rem;
  color: hsl(200deg, 100%, 73%);
}
.music-item.playing .item-icon {
  opacity: 1;
}
.music-item:is(:hover, :focus-visible, .playing) {
  outline: 1px solid hsl(200deg, 100%, 73%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsl(0deg, 0%, 0%);
  transition: 300ms cubic-bezier(0.2, 0, 0, 1);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}
.overlay.active {
  pointer-events: all;
  visibility: visible;
  opacity: 0.5;
}
